.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  background-image: url(../assets/apply-bg.webp);
  background-position: 50% 50%;
}

.faqheader {
  margin-left: 0px;
  /* text-align: center; */
}

#headingOne button {
  background: #333a65;
  color: #fff;
  font-weight: bold;
}

#headingTwo button {
  background: #333a65;
  color: #fff;
  font-weight: bold;
}

#headingThree button {
  background: #333a65;
  color: #fff;
  font-weight: bold;
}

.qna a {
  text-decoration: underline;
  color: black;
}

.banner {
  background-color: #281b36;
  height: auto;
  width: 100%;
  color: #fcfcfc;
  position: relative;
  text-align: center;
}

.stairsimg {
  opacity: 0.5;
}

#bannerdesc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
