.body {
  margin: 80px auto 0 auto;
}

.packages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 70px;
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0px 4px 4px 0px #dbdbdb;
  box-shadow: 0px 4px 4px 0px #dbdbdb;
  max-width: 250px;
}

.card-img-top {
  align-self: center;
  border-radius: 0;
}

.card-body {
  /* position:relative; */
  padding-bottom: 30px;
}

.quicklink-container {
  margin: 10px;
  width: 250px;
  box-shadow: 0px 4px 4px 0px #dbdbdb;
}

.quicklink-img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.quicklink-content {
  padding: 10px;
  height: 200px;
}

.quicklink-title {
  font-size: 1.3em;
  margin-bottom: 5px;
  min-height: 72px;
}

.quicklink-text {
  margin-bottom: 5px;
  min-height: 72px;
}

.quicklink-content a {
  color: #333765;
}

.schedule {
  padding: 100px;
  scroll-margin-top: 100px;
}

.schcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.schimg {
  padding: 20px;
  width: 40%;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

.schdesc {
  font-size: 1.1em;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sch1 {
  background-color: #6cb9c3;
}

#sch2 {
  background-color: #f8ac2f;
}

#sch3 {
  background-color: #a4d57d;
}

@media screen and (max-width: 576px) {
  body .schdesc {
    padding: 30px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .packages {
    flex-direction: column;
    align-items: center;
  }
  .quicklink-container {
    width: 100%;
  }

  .quicklink-img {
    width: 100%;
    height: auto;
  }

  .quicklink-text,
  .quicklink-title {
    min-height: 36px;
  }

  .quicklink-content {
    height: fit-content;
    padding: 20px;
  }

  .schedule {
    padding: 40px;
  }

  .schcontent {
    flex-direction: column;
    align-items: center;
  }

  .schimg {
    height: 100%;
    width: 100%;
  }

  .schdesc {
    width: 100%;
  }
}
