.privacy-policy-container {
  padding: 120px 80px 40px;
  background-image: url(../assets/privacy-policy-bg.webp);
  background-position: 50% 30%;
}

.quick-links {
  font-size: 1em;
  position: sticky;
  top: 120px;
}

.quick-links ul li {
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.quick-links ul a {
  color: #fff;
}

.content {
  padding: 40px;
  background-color: #fcfcfc;
  box-shadow: 7px 8px 20px 3px #d3d3d3;
}

.content-header {
  font-size: 2.4em;
  font-weight: bold;
}

.content-section {
  scroll-margin-top: 100px;
  margin-top: 40px;
}

.section-header {
  font-size: 1.8em;
}

.section-text {
  font-size: 1.2em;
}
@media only screen and (max-width: 768px) {
  .privacy-policy-container {
    padding: 120px 20px 40px;
  }

  .quick-links {
    display: none;
    visibility: none;
  }
}
