.form-container {
  min-height: 600px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  background-image: url(../assets/sign-up.webp);
}

.form-header {
  font-size: 2em;
  font-weight: bold;
}

.form-subheader {
  font-size: 1.5em;
  margin-top: 10px;
}

.element-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

form {
  background-color: #f3f3f3;
  padding: 40px 20px;
  width: 60%;
  box-shadow: 5px 4px 9px 3px #2626266e;
}

.btn-primary {
  background-color: #333765;
  border-radius: 10px;
  border: none;
}

.btn-primary:hover {
  background-color: #474d92;
}

#classes,
#weekdays,
#weekends,
#freetrial,
#holiday1,
#holiday2,
#holiday3 {
  display: none;
}

.form-section {
  height: 600px;
  background-color: #2bbf9c;
  color: #fff;
  width: 40%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header {
  font-size: 2.3em;
  text-transform: capitalize;
}

.section-subheader {
  font-size: 1.4em;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .form-container {
    padding: 40px 20px;
  }
  .form-section {
    display: none;
    visibility: none;
  }
  form {
    width: 100%;
  }
}
