.body {
  justify-content: center;
  
}

.banner {
  background-color: #000;
  margin: 80px auto;
  height: auto;
  width: 100%;
  color: #fcfcfc;
  position: relative;
}

.banner-apply-cta {
  background-color: #fff;
  color: #333765;
  font-weight: bold;
  border-radius: 20px;
}

.banner-apply-cta:hover {
  background-color: #f8ac2f;
  color: #fff;
  text-decoration: none;
}

.stairsimg {
  opacity: 0.5;
}

#bannerdesc {
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#bannerdesc h2 {
  margin-bottom: 0.8em;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

#bannerdesc a {
  padding: 0.5em 1.25em;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  #bannerdesc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #bannerdesc h2 {
    font-size: 1.8em;
  }

  #bannerdesc a {
    font-size: 0.8em;
  }

  body #desc2 {
    text-align: start;
  }
}

.section {
  margin: 70px 0px;
}

.desc {
  
  justify-content: center;
  margin:auto 0;
}

.reasonsimg {
  width: 100%;
}

.packages {
  margin-top: 6em;
  margin-bottom: 5em;
}

.packages h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.packagedesc {
  text-align: center;
  margin-bottom: 30px;
}

.packagedesc a {
  padding: 0.5em 1.25em;
  font-size: 1em;
}

.packages img {
  width: 70%;
}
